<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body style="margin-left:25px">
    <img src="{{album.album_logo}}" alt="" width="40%" height="350px"><br>
    <h1>{{album.album_title}}</h1>
    <h3>{{album.artist}}</h3>
    <ul>
        {%for song in songs%}
        <li>{{song.song_title}}{{song.file_type}}</li>
        {%endfor %}
    </ul>
</body>

</html>